body {
        font-family: 'Roboto', sans-serif;
        color: #434455;
        background-color: #FFFFFF;

}

/** ========== HEADER =========== */

.header {}

.header-navigation {

}
.list {
    list-style: none;
}
a {
    text-decoration: none;
}
.ul {
    list-style-type: none;
}

.header-logo {
    color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        
}
.first-logo{
    color: #2e2f42;
}

.header-menu {}

.header-menu-item {
    
}

.header-menu-link {
    color:  #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.02em;
}
.header-menu-link:hover,
.header-menu-link:focus {
    color: #404BBF;
    line-height: 24px;
    letter-spacing: 0.32;
    text-decoration: underline;
}

/* ===================== */
/** ========== CONTACTS =========== */

.contacts{
    font-style: normal;
}


.contacts-link {
        color:  #434455;
        font-style: normal;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.50;
        letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
    line-height: 24px;
    letter-spacing: 0.32;
}


/* ===================== */
/** ========== HERO =========== */

.hero {
    background: #2E2F42;
}

.hero-lile {
        color:  #FFF;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
}

.hero-bye-btn {

        cursor: pointer;
        background-color:#4D5AE5;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.50;
        letter-spacing: 0.04em;
        color: #FFF;
}

.hero-bye-btn:hover,
.hero-bye-btn:focus {
    background-color: #404BBF;
}

/* ========================= */
/** ========== FEATURES=========== */

.features- {}

.visualli-hidden {}

.features-list {}

.features-item {}

.features-subtitle {
        color:  #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.20;
        letter-spacing: 0.02em;
}

.features-item-text {
        color:  #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.50;
        letter-spacing: 0.02em;
}
/* ========================= */
/** ========== TASTE =========== */

.taste {
    background:  #F4F4FD;
}

.taste-title {
    color:  #2E2F42;
        text-align: center;

        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.tastle-list {}

.taste-item {
background-color: #FFFFFF;

}
.taste-img {}

.taste-subtitle {
        color: #2E2F42;
        text-align: center;
       
        font-size: 20px;
        font-weight: 500;
        line-height: 1.20;
        letter-spacing: 0.02em;
}
.taste-text {
    color: #434455;
    text-align: center;
   
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50;
    letter-spacing: 0.02em;
}

/* ========================= */
/** ========== PORTFOLIO =========== */

.portfolio {
    background: #FFF;
}
.portfolio-title {
        color: #2E2F42;
        text-align: center;
        text-transform: capitalize;
       
        font-size: 36px;
        font-weight: 700;
        line-height: 1,11;
        letter-spacing: 0.02em;
}

.portfolio-list {}

.list {}

.portfolio-item {}

.portfolio-img {}

.portfolio-subtitle {
        color: #2E2F42;
       
        font-size: 20px;
        font-weight: 500;
        line-height: 1.20;
        letter-spacing: 0.02em;
}

.portfolio-text {
        color: #434455;
       
        font-size: 16px;
        font-weight: 400;
        line-height: 1.50;
        letter-spacing: 0.02em;
}

/* ========================= */
/** ========== FOOTER =========== */

.footer {
    background:#2E2F42;
}

.footer-logo {
        color: #4D5AE5;
        font-family: "Raleway", sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
    }
    
    .first-logo_ {
        color: #F4F4FD;
}

.footer-text {
    color:  #F4F4FD;
        
        font-size: 16px;
        font-weight: 400;
        line-height: 1.50;
        letter-spacing: 0.02em;
}